* {
    margin: 0;
    box-sizing: border-box;
}
html, body { height: 100%; }
body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: rgba(0,0,0,.1);
}
ul {
    list-style-type: none;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 0;
}
.viewport {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    max-width: calc(100% - 20px);

    &__lightbox {
        max-width: 100%;
        width: 480px;
        background-repeat: no-repeat;
        background-position: center center;
        box-shadow: 0px 0px 5px 0px rgba(0,0,0,.2);
        margin-bottom: 16px;
        position: relative;
        padding-top: 50%;

        .comparator {
            width: 0;
            height: 100%;
            pointer-events: none;
            background-repeat: inherit;
            background-position: 0 center;
            position: absolute;
            top: 0;
            left: 0;
        }
        &.js-active-comparator {
            cursor: col-resize;
        }
    }
    &__button {
        margin-left: auto;
    }
    &__gallery {
        display: flex;
        justify-content: center;
        visibility: hidden;
        opacity: 0;
    }
}
.js-active-comparator {
    ~ .viewport__gallery {
        visibility: visible;
        opacity: 1;
        transition: all .3s ease-in;
        .js-img-compare {
            transform: translate(0,0);
            pointer-events: all;
            cursor: pointer;
        }
    }
}
.img-compare {
    width: 60px;
    margin: 10px 10px 16px;
}
.btn-compare {
    border: 0;
    color: #fff;
    background-color: #111;
    padding: 5px 10px;
    cursor: pointer;
}
.js-img-compare {
    transform: translate(15px,0);
    transition: all .3s ease-in;
    pointer-events: none;
}